
.App-Header{
    width: auto;
    height: 70px;
    display: block;
    position: relative;
}

.App-Body{
    display: block;
    position: relative;
    width: auto;
    height: auto;
}
