.RankChart_ChartArea{
    position: relative;
    display: inline-block;
    width: 40%;
}
.middle{
    position: relative;
    display: inline-block;
    width: 10%;

}

.BubbleChart_ChartArea{
    position: relative;
    display: inline-block;
    width: 50%;
    
}