.vertical-line {
    background-color: rgb(33, 76, 196);
    display: inline-block;
    width: 10px;
    height: 40px;
    vertical-align: text-bottom;
}

.line-title {
    vertical-align: middle;
    color: #6a6a6a;
    font-family: AppleSDGothicNeo;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

.line-graph {
    display: inline-block;
    /* margin: 30px; */
}

.line-graph-title{
    vertical-align: middle;
    text-align: left;
}

.selection_LineGraph{
    position: relative;
    left: 32vw;
}

.selection_LineGraph2{
    position: relative;
    left: 33vw;
}

