.recommand-databoard {
    display: inline-block;
    position: relative;
    width: 35%;
    height: 70vh;
    background-color: white;
    overflow: scroll;
}


.recommand-databoard-title {
    width: 100%;
    height: 6%;
    background-color: orangered;
    
    position: relative;
    display: block;
    left: inherit;
    top: inherit;
    display: block;
    line-height: 42px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: white;
}


.recommand-databoard-item-title {
    width: 100%;
    background-color: white;
    height: fit-content;
    position: relative;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: orangered;
    background-clip: content-box;
    color: white;
    font-weight: 500;
}


.recommand-databoard-item {
    width: 100%;
    background-color: white;
    height: fit-content;
    position: relative;
}

