.recommand-databoard {
    display: inline-block;
    position: relative;
    width: 35%;
    height: 70vh;
    background-color: orangered;
    overflow: scroll;
}


.recommand-databoard-title {
    width: 100%;
    height: 6%;
    background-color: orchid;
    position: relative;
    display: block;
    left: inherit;
    top: inherit;
}


.recommand-databoard-item-title {
    width: 100%;
    background-color: palegreen;
    height: fit-content;
    position: relative;
}


.recommand-databoard-item {
    width: 100%;
    background-color: skyblue;
    height: fit-content;
    position: relative;
}