.recommand-map {
    display: inline-block;
    position: relative;
}

.recommand-databoard {
    display: inline-block;
    position: absolute;
    width: 40vh;
    height: 70vh;
    background-color: orangered;
}

.recommand-databoard.title {
    height: fit-content;
    background-color: orchid;
    position: relative;
}

.recommand-databoard.list {
    background-color: palegreen;
    height: fit-content;
    position: relative;
}