/* 전체 페이지 틀 */
.recommand-page.container {
    position: relative;
    margin: 100px 70px 100px 70px;
    width: 100%;
    height: auto;
}

/* title section */
.recommand-page.section.title {
    /* div 내부 vertical-align 주는 방법 - display, align-items 동시에 주기 */
    position: relative;

    display: flex;
    align-items: center;
}

.recommand-page.section.map{ 
    position: relative;
    display: inline-block;
    margin-top: 10px;
    width: 70%;
    width: 100%;
}

/* .recommand-map {
    width: 100%;
    height: 100%;
} */

/* 상단 타이틀 오렌지색 바 */
.decorate-bar {
    display: inline-block;
    background-color: orangered;
    width: 7px;
    height: 30px;
    line-height: 1px;
}

.accent-name {
    font-size: 24px;
    font-weight: 400;
}

.title {
    font-size: 20px;
}

/* 빈칸 스타일  */
.blank {
    width: 10px;
    height: 25px;
}